.messageContainer {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: fit-content;
  text-align: center;
}

.messageBody {
  padding: 0.5rem 0.3rem;
  background-color: gray;
  color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.userName {
  color: #616161;
  font-size: 12px;
}
